body{
  background-color: hsl(233, 47%, 7%);
  font-size : 15px;
}
img{
  float:right;
  width: 50%;
  height: 100%;
  margin-left: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  accent: hsl(277, 64%, 61%);
}
h1{
  color: white;
}
table{
  margin: 60px auto;
  font-size: 13PX;
}
th{
  color:WHITE;
  font-size: 2EM;
  padding-right: 50PX;
}
td{
  padding-right: 50PX;
}
.word{
  padding:60px;
}
.text{
  border-radius: 10px;
  width:1000px;
  margin:200px auto;
  height:400px;
  text-align:left;
  background-color: hsl(244, 38%, 16%);
  color:hsla(0, 0%, 100%, 0.75);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: violet; }
